@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary: 252, 100%, 62%, 1;
    --primary-hover: 252, 100%, 96%, 1;
    --primary-light: 252, 100%, 96%, 1;

    --grey: 0, 0%, 45%, 1;
    --grey-light: 0, 0%, 98%, 1;
    --grey-dark: 0, 0%, 20%, 1;

    --border: 0, 0%, 85%, 1;

    --white: 0, 0%, 100%, 1;
    --red: 0, 100%, 61%, 1;
  }
}

@layer components {
  .default {
    font-style: normal;
  }

  .heading-m {
    @apply default font-bold;
    font-size: 2rem;
    line-height: 48px;
  }

  .heading-s {
    @apply default font-semibold leading-6;
    font-size: 1rem;
  }

  .body-m {
    @apply default font-normal leading-6;
    font-size: 1rem;
  }

  .body-s {
    @apply default font-normal;
    font-size: 0.75rem;
    line-height: 18px;
  }
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  @apply bg-grey-light;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-message {
  color: #212121;
  bottom: 40px !important;
  top: initial !important;
}

.ant-message-custom-content {
  column-gap: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.ant-message-notice,
.ant-message-custom-content,
.ant-message-notice-content {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-message-notice-content {
  background-color: #333333 !important;
  color: white;
  min-height: 56px !important;
  border-radius: 12px !important;
  padding: 16px 24px !important;
  box-shadow: 0px 0px 32px 0px #0000001a !important;
}

/* custom-message.css */
.ant-message-custom-content.ant-message-success .anticon,
.ant-message-custom-content.ant-message-info .anticon {
  @apply !text-primary;
}

.ant-message-custom-content.ant-message-error .anticon {
  @apply !text-red;
}

.ant-select-selector:focus-within {
  box-shadow: 0px 0px 32px 0px #633cff40 !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
